<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd">
	<context:annotation-config/>
	<bean class="com.jhta.spring09.controller.HomeController"/>
	
	<bean id="data" class="org.apache.commons.dbcp2.BasicDataSource">
		<property value="oracle.jdbc.OracleDriver" name="driverClassName" />
		<property value="jdbc:oracle:thin:@localhost:1521:xe" name="url" />
		<property value="scott" name="username" />
		<property value="tiger" name="password" />
	</bean>	
	<bean id="sqlfactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="data"/>
		<property name="mapperLocations" value="classpath*:mybatis/MyUsersMapper"/>
	</bean>
	<bean id="template" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg index="0" ref="sqlfactory"/>
	</bean>
	<bean id="dao" class="test.dao.MyUsersDao"/>
	<bean id="service" class="test.service.MyUsersService"/>
	
</beans>
