<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
	<h1>Welcome!@!!!</h1>
    <h1>출력결과!</h1>
    <%
    	if(code=='success'){
    %>
    	<h1>회원가입성공</h1>
    <%
    	}else{
    %>	
    	<h1>회원가입실패</h1>
    <%
    	}
    %>	
</body>
</html>