<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean id="dao" class="test.dao.MembersDao">
		<constructor-arg name="user" value="SCOTT"/>
		<constructor-arg name="pwd" value="tiger"/>
	</bean>
	<bean id="service" class="test.service.MembersService">
		<property name="dao" ref="dao"></property>
	</bean>
	<bean id="controller" class="test.controller.MembersController">
		<property name="service" ref="service"/>
	</bean>
</beans>
