<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">
     <bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="oracle.jdbc.OracleDriver"></property>
		<property name="url" value="jdbc:oracle:thin:@localhost:1521:xe"></property>
		<property name="username" value="SCOTT"></property>
		<property name="password" value="tiger"></property>
	 </bean>
	 <!-- sqlSessionFactoryBean (datasource,Mapper XML파일)-->
	 <bean id="factory" class="org.mybatis.spring.SqlSessionFactoryBean">
	 	<property name="dataSource" ref="dataSource"/>
	 	<property name="mapperLocations" value="classpath*:mybatis/*"/>
	 </bean>
	 <!-- sqlSessionTemplate (sqlSessionFactoryBean 주입 -> 생성자) -->
	 <bean id="sessionTemplate" class="org.mybatis.spring.SqlSessionTemplate">
	 	<constructor-arg index="0" ref="factory"/>
	 </bean>
	 <!-- dao -->
	 <bean id="memberdao" class="com.jhta.spring20.dao.MembersDao"/>
	 <bean id="pointdao" class="com.jhta.spring20.dao.PointsDao"/>
	 <!-- service -->
	 <bean id="service" class="com.jhta.spring20.service.MembersServiceImpl"/>
	 <!-- 트랜잭션 설정 -->
	 <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
	 	<property name="dataSource" ref="dataSource"/>
	 </bean>
	 <!-- 어노테이션으로 -->
 	 <tx:annotation-driven transaction-manager="transactionManager"/>
	 <aop:aspectj-autoproxy/><!-- 어노테이션일때 일반 트랜잭션 설정과 달리 자동으로 한줄로 완성 -->
	 
	 <context:component-scan base-package="com.jhta.spring20">
	 	<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
	 </context:component-scan>
	 
</beans>
