<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>출력결과!</h1>
    <h1>이름 : <%=name%></h1>
    <h1>전화번호 : <%=phone%></h1>
    <h1>주소 : <%=addr%></h1>
</body>
</html>