<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee https://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<listener><!-- 어플리케이션 컨택스트 로드하는 것 -->
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<servlet><!-- 디스패쳐서블릿 정의하는 태그 -->
		<servlet-name>appServlet</servlet-name><!-- 이름 -->
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<!--  DispatcherServlet -->
		<init-param><!-- 초기화 함수 -->
			<param-name>contextConfigLocation</param-name><!-- 이름 -->
			<param-value>/WEB-INF/servlet-context.xml</param-value><!-- 위치 -->
		</init-param>
		<load-on-startup>1</load-on-startup><!-- 상태 -->
	</servlet>
		
	<servlet-mapping><!-- 디스패처 서블릿 매핑 -->
		<servlet-name>appServlet</servlet-name>
		<url-pattern>/</url-pattern><!-- 전체경로 -->
	</servlet-mapping>

</web-app>
